<app-header></app-header>

<form [formGroup]="userForm" (ngSubmit)="onLogin()" class="container mt-4">
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" formControlName="email">
        </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password">
        </div>

    <button [disabled]="!userForm.valid" type="submit" class="btn btn-primary">Submit</button>
</form>

<app-footer></app-footer>