<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input formControlName="firstName" type="text" class="form-control" id="firstName" placeholder="Enter your first name">
    </div>

    <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input formControlName="lastName" type="text" class="form-control" id="lastName" placeholder="Enter your last name">
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input formControlName="email" type="email" class="form-control" id="email" placeholder="Enter your email">
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input formControlName="password" type="password" class="form-control" id="password" placeholder="Enter your password">
    </div>

  <div class="mb-3">
    <label class="form-label">Role</label>

    <div class="form-check">
      <input type="checkbox"  id="passenger" (change)="onCheckboxChange($event)" class="form-check-input" value="PASSENGER">
      <label for="passenger" class="form-check-label">Passenger</label>
    </div>

    <div class="form-check">
      <input type="checkbox"  id="driver" (change)="onCheckboxChange($event)" class="form-check-input" value="DRIVER">
      <label for="driver" class="form-check-label">Driver</label>
    </div>
  </div>


    <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary">Submit</button>
</form>
