<!-- Start Footer -->
<footer class="cs-footer cs-style1">
    <div class="cs-footer_bg"></div>
    <div class="cs-height_100 cs-height_lg_60"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-4 col-sm-4">
                        <div class="cs-footer_widget">
                            <h2 class="cs-widget_title">TEKUP-CARPOOL</h2>
                            <ul class="cs-widget_nav">
                                <li><a href="#">Explore 1</a></li>
                                <li><a href="#">Explore 1</a></li>
                                <li><a href="#">Explore 1</a></li>
                                <li><a href="#">Explore 1</a></li>
                                <li><a href="#">Explore 1</a></li>
                                <li><a href="#">Explore 1</a></li>
                            </ul>
                        </div>
                    </div><!-- .col -->
                    <div class="col-lg-4 col-sm-4">
                        <div class="cs-footer_widget">
                            <h2 class="cs-widget_title">Account</h2>
                            <ul class="cs-widget_nav">
                                <li><a href="#">Profile</a></li>
                                <li><a href="#">My Collection</a></li>
                                <li><a href="#">Create & Upload</a></li>
                                <li><a href="#">Account Setting</a></li>
                                <li><a href="#">Connect</a></li>
                                <li><a href="#">Favorite</a></li>
                            </ul>
                        </div>
                    </div><!-- .col -->
                    <div class="col-lg-4 col-sm-4">
                        <div class="cs-footer_widget">
                            <h2 class="cs-widget_title">Company</h2>
                            <ul class="cs-widget_nav">
                                <li><a href="#">Recent News</a></li>
                                <li><a href="#">How it Works</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Help Center & FAQ</a></li>
                            </ul>
                        </div>
                    </div><!-- .col -->
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="cs-footer_widget">
                    <h2 class="cs-widget_title">Subscribe to our newsletter.</h2>
                    <form class="cs-footer_newsletter">
                        <input type="text" placeholder="Enter Your Email" class="cs-newsletter_input">
                        <button class="cs-newsletter_btn">
                            <svg width="25" height="16" viewBox="0 0 25 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M24.7014 9.03523C25.0919 8.64471 25.0919 8.01154 24.7014 7.62102L18.3374 1.25706C17.9469 0.866533 17.3137 0.866533 16.9232 1.25706C16.5327 1.64758 16.5327 2.28075 16.9232 2.67127L22.5801 8.32812L16.9232 13.985C16.5327 14.3755 16.5327 15.0087 16.9232 15.3992C17.3137 15.7897 17.9469 15.7897 18.3374 15.3992L24.7014 9.03523ZM0.806641 9.32812H23.9943V7.32812H0.806641V9.32812Z"
                                    fill="white" />
                            </svg>
                        </button>
                    </form>
                    <div class="cs-footer_social_btns">
                        <a href="#"><i class="fab fa-facebook-f fa-fw"></i></a>
                        <a href="#"><i class="fab fa-twitter fa-fw"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in fa-fw"></i></a>
                        <a href="#"><i class="fab fa-instagram fa-fw"></i></a>
                        <a href="#"><i class="fab fa-whatsapp fa-fw"></i></a>
                        <a href="#"><i class="fab fa-github fa-fw"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cs-height_60 cs-height_lg_20"></div>
    <div class="cs-footer_bottom">
        <div class="container">
            <div class="cs-footer_separetor"></div>
            <div class="cs-footer_bottom_in">
                <div class="cs-copyright">{{copyrightText}}</div>
                <ul class="cs-footer_menu">
                    <li><a href="privacy-policy.html">Privacy Policy</a></li>
                    <li><a href="terms-condition.html">Term & Condition</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->