<app-header></app-header>
<div class="cs-height_20 cs-height_lg_80"></div>
<div class="min-vh-100 d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-md-8 offset-xl-3 offset-md-2">
        <div class="cs-form_btns">
          <img src="/assets/img/forgot_password.png" width="200px" />
        </div>
        <form class="cs-form_card cs-style1 cs-type1 cs-box_shadow cs-white_bg" [formGroup]="form"
          (ngSubmit)="onSubmit()">
          <h2 class="cs-form_title">Enter your email to continue</h2>
          <div class="cs-form_field_wrap">
            <input type="email" formControlName="email" class="cs-form_field"
              [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
              <div *ngIf="f['email'].errors?.['required']">Email is required</div>
              <div *ngIf="f['email'].errors?.['email']">Invalid email format</div>
            </div>
          </div>
          <div class="cs-height_20 cs-height_lg_20"></div>
          <button type="submit" class="cs-btn cs-style1 cs-btn_lg w-100" [disabled]="!form.valid">
            <span>Forgot Password</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>