<app-header></app-header>
<div class="cs-height_20 cs-height_lg_80"></div>
<div class="min-vh-100 d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-md-8 offset-xl-3 offset-md-2">
        <div class="cs-form_btns">
          <img src="/assets/img/reset_password.png" width="200px" />
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()"
          class="cs-form_card cs-style1 cs-type1 cs-box_shadow cs-white_bg">
          <div class="form-group cs-form_field_wrap">
            <input type="password" formControlName="password" class="cs-form_field"
              [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" placeholder="Password"/>
            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
              <div *ngIf="f['password'].errors?.['required']">Password is required</div>
              <div *ngIf="f['password'].errors?.['minlength']">
                Password must be at least 6 characters
              </div>
              <div *ngIf="f['password'].errors?.['maxlength']">
                Username must not exceed 40 characters
              </div>
            </div>
          </div>
          <div class="cs-height_20 cs-height_lg_20"></div>
          <div class="form-group cs-form_field_wrap">
            <input type="password" formControlName="confirmPassword" class="cs-form_field"
              [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }" placeholder="Password Confirmation"/>
            <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
              <div *ngIf="f['confirmPassword'].errors?.['required']">
                Confirm Password is required
              </div>
              <div *ngIf="f['confirmPassword'].errors?.['matching']">
                Confirm Password does not match
              </div>
            </div>
          </div>
          <div class="cs-height_20 cs-height_lg_20"></div>
          <button type="submit" class="cs-btn cs-style1 cs-btn_lg w-100" [disabled]="!form.valid">
            <span>Update Password</span>
          </button>

        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>