<app-header></app-header>
<div class="cs-height_50 cs-height_lg_80"></div>
<div class="min-vh-100 d-flex align-items-center">
  <div class="container">
    <div class="cs-cta cs-style2 text-center cs-white_bg">
      <div class="cs-form_btns">
        <img src="/assets/img/email_sent.png" width="300px" />
      </div>
      <div class="cs-cta_subtitle">
        <p>Please check your email <span class="text-danger"> {{email}} </span>for instructions on how to reset
          your password.</p>
        <p>If you did not receive an email , please create an account.</p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>